* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.containt {
    height: 70vh;
    width: 80vw;
    background: rgba(95, 128, 150, 0.4);
    margin: auto;
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.card--containt {
    height: 25em;
    width: 16em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(233, 230, 230);
    justify-content: space-between;
    margin: auto;
    border-radius: 15px;
}

.img {
    border-radius: 10px;
}
h4 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;

}

p {
    font-size: .8em;
    padding: 0 1em;
    text-align: center;
    color: rgb(148, 163, 152);
}


